.containter {
  display: flex;
}

.containter aside {
  width: 30%;
  min-width: 300px;
}

.map-area {
  flex-grow: 1;
}

header {
  text-align: center;
  height: 50px;
  background: red;
  color: #fff;
  display: flex;
  align-items: center;
}
